body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fb;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #0a66c2, #003b73);
    color: white;
    text-align: center;
    padding: 25px;
}

/* NAVBAR */
nav {
    background: #111;
    text-align: center;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 18px;
    text-decoration: none;
}

nav a:hover {
    background: #0a66c2;
}

/* SECTION */
section {
    padding: 40px;
    text-align: center;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    max-width: 700px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* BUTTON */
.btn {
    background: #0a66c2;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* WHATSAPP */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
